* {
	margin: 0;
	padding: 0;
}

body {
	font: 16px sans-serif;
	max-width: 35em;
	padding: 2em 5vw 2em;
	margin: 0 auto;
	color: #222;
	line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

video {
	display: block;
	width: 100%;
	border-radius: 3px;
}

header[role="banner"] {
	font-size: 125%;
}

header {
	margin-bottom: 1em;
}

header span {
	font-size: small;
	font-family: monospace;
	color: #aaa;
}

div.event {
	margin-top: 1em;
}
